.scroll-indicator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #6de0ec;
  pointer-events: none;
  animation: scroll-indicator 2s ease-out forwards;
  animation-timeline: scroll();
}

section {
  opacity: 0;
  transform: translateY(50px) rotate(-5deg) scale(0.9);
  animation: scroll-reveal 2s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes scroll-reveal {
  from {
    opacity: 0;
    transform: translateY(50px) rotate(-5deg) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(0) scale(1);
  }
}

@keyframes scroll-indicator {
  from {
    opacity: 0;
    translate: -100vw 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
