section {
  opacity: 0;
  transform: translateY(50px) rotate(-5deg) scale(0.9);
  animation: scroll-reveal 2s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes scroll-reveal {
  from {
    opacity: 0;
    transform: translateY(50px) rotate(-5deg) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(0) scale(1);
  }
}
