@import "../assets/css/tailwind.css";

html {
  scroll-behavior: smooth;
}

/* Global scroll-margin-top for all anchor links */
[id] {
  scroll-margin-top: 92px; /* Ensures that when the page scrolls to a section, it doesn't get hidden behind the fixed header or navbar as my header is sticky*/
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
